body,h1,h2,h3,h4,h5,h6 {
    font-family: Zain, sans-serif;
}
body {
    background-color: #E0E0E0;
}
.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.two-column img {
    border-radius: 20px;
    border: 3px black solid;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
    margin-top: 15px;
}
.w3-card-4 {
       background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: 3px black solid;
    margin-top: 15px;
}
.three-column .w3-card-4 {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.three-column .w3-card-4 img {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
/* make all images 100% width */
img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.03);
    opacity: 0.85;
}
.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.w3-bar.w3-blue-grey {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    border-radius: 15px;
}
.w3-bar a:hover {
    background-color: #90A4AE;
    border-bottom: 3px solid white;
}
.w3-bar a.active:hover {
    background-color: #90A4AE;
}
.w3-bar a.active {
    background-color: #37474F;
    border-bottom: 3px solid white;
}
.w3-bar a:active {
    opacity: 0.7;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}
header {
    background: #F0F0F0;
    border-radius: 15px;
    margin-top: 5px;
}
.home-text {
    display: block;
    text-decoration:underline;
    text-align: center;
    font-size: larger;
    transition: transform 0.3s ease;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    letter-spacing: 5px;
    font-weight: 500;
}
.home-text:hover {
    transition: transform 0.3s ease;
    transform: scale(1.03);
    opacity: 0.7;
}
.information hr {
    border-bottom: 2px solid black;
}
footer {
    text-align: center;
    background-color: #2F3E46;
    width: 100vw;
    padding: 20px;
    position: relative;
    margin-top: 40px;
    margin-left: -16px;
    margin-right: -16px;
}