body,h1,h2,h3,h4,h5,h6 {
    font-family: Zain, sans-serif;
}
.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
/* make all images 100% width */
img {
    width: 100%;
}
img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.005);
    opacity: 0.85;
}
.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}