<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zain">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.jpeg') }}">
    <title>Magnificent Motorbikes</title>
</head>
<body class="w3-container">
    <!-- Head layout for extension -->
    <header class="w3-container w3-padding-32">
        <h1><a href="{{ url_for('home') }}" class="home-text">MAGNIFICENT MOTORBIKES</a></h1>
    </header>
    <!-- Navbar layout for extension -->
    <nav class="w3-bar w3-blue-grey">
        <a href="/" class="w3-bar-item w3-button {% if request.path == '/' %}active{% endif %}">Home</a>
        {% for maker in makers %}
            <a href="/makers/{{ maker[0] }}" class="w3-bar-item w3-button {% if request.path == '/makers/' + maker[0]|string %}active{% endif %}">{{ maker[1] }}</a>
        {% endfor %}
    </nav>
    {% block body %}
    {% endblock %}
    <footer>
        <p style="color: white;">© Copyright Magnificent Motorbikes 2026</p>
    </footer>
</body>
</html>